<div class="metadata">
    <div class="avatar">
        <img [src]="post.author.avatar">
    </div>
    <div class="author">
        <!--
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        | Red Path                          x                              |
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        | Un clic sobre el autor debería navegar a su colección de posts. |
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        -->
        <span class="name blink-font" (click)="navAuth(post)">{{ post.author.name }}</span>
        <!--
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        | Blue Path     X                                                                |
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        | Una vez tengas creado el pipe FromNowPipe, úsalo con la fecha de publicación. |
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        -->

        <!--Broken white Path : Un click sobre el elemento pencil navegara a una nueva vista para editar
        -->
        <span class="date">{{ post.publicationDate | tipFecha }}</span>
    </div>

    <div class=" hvr-pulse-grow" href="#">
        <i id="like" class="like fa fa-thumbs-o-up fa-2x" aria-hidden="true" (click)="eventLike(post)"></i>
        <div>{{post.likes}}</div>
    </div>

    <i id="edit" class="edit fa fa-pencil-square-o  fa-2x" aria-hidden="true" (click)="navEdit(post)"></i>
    <i id="delete" class="fa fa-trash fa-2x" aria-hidden="true" (click)=delete(post)></i>

</div>
<div class="post">
    <h3>{{ post.title }}</h3>
    <img *ngIf="post.media" [src]="post.media" class="u-max-full-width">
    <div class="html-text" [innerHtml]="plainTextToHtml(post.intro)"></div>
    <hr>
    <div class="html-text" [innerHtml]="plainTextToHtml(post.body)"></div>
    <!--
    |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
    | Yellow Path                        x                                      |
    |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
    | Suscribe el componente CategoryBoxComponent al evento que hayas definido |
    | en él para notificar los clics sobre las categorías del post.            |
    |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
    -->
    <category-box [categories]="post.categories" (seleccionadoCatg)="navCatg($event)">
    </category-box>
</div>