<div class="metadata">
    <div class="avatar">
        <img [src]="post.author.avatar">
    </div>
    <div class="author">
        <!--
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        | Red Path         x                                                    |
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        | Un clic sobre el autor debería enviar un evento al componente padre. |
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        -->
        <span class="name blink-font" (click)="notifiSelectAuth(post)">{{ post.author.name }}</span>
        <!--
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        | Blue Path   X                                                                  |
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        | Una vez tengas creado el pipe FromNowPipe, úsalo con la fecha de publicación. |
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        -->
        <span class="date" >{{ post.publicationDate | tipFecha }}</span>
    </div>
</div>
<!--
|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
| Green Path      X                                                    |
|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
| Un clic sobre el post debería enviar un evento al componente padre. |
|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
-->
<div class="post">
    <h3 (click)="notifiSelectPost(post)">{{ post.title }}</h3>
    <img *ngIf="post.media" [src]="post.media" class="u-max-full-width">
    <div class="html-text" [innerHtml]="plainTextToHtml(post.intro)"></div>
</div>
