<form novalidate #editForm="ngForm" (ngSubmit)="submitPost(editForm)">
    <input type="text" id="tittle" name="tittle" ngModel='{{post.title}}' #tittleRef="ngModel" placeholder="Título" class="u-full-width"
        required>
    <textarea id="id" name="id" ngModel="{{post.id}}" #introRef="ngModel" style="display:none"></textarea>
    <div class="metadata">
        <textarea id="intro" name="intro" ngModel='{{post.intro}}' #introRef="ngModel" placeholder="Introduce tu historia" class="u-full-width georgia-font"
            autogrow></textarea>
        <textarea id="body" name="body" ngModel='{{post.body}}' #bodyRef="ngModel" placeholder="Cuenta tu historia" class="u-full-width georgia-font"
            autogrow></textarea>
        <div>
            <div>
                <label (click)="setScheduling(false)">
                <span class="radio-input" [class.active]="!publicationDateScheduled"></span>
                No programar:
                </label>
            </div>
            <div>
                <label (click)="setScheduling(true)">
                <span class="radio-input" [class.active]="publicationDateScheduled"></span>
                Publicar en:
                </label>
            </div>
            <div>
                <input type="datetime-local" name="publicationDate" [min]="nowDatetimeLocal" [ngModel]="nowDatetimeLocal">
            </div>
        </div>
        <button type="submit" class="button-primary u-pull-right" [disabled]="editForm.invalid">Publicar</button>
    </div>
</form>